.p1 {
    color: #FF0000; 
    background-color: #00FF00; 
}

.p2 {
    color: #00FF00; 
    background-color: #0000FF; 
}

.p3 {
    color: #0000FF; 
    background-color: #FF0000; 
}

.p4 {
    color: #EE82EE; 
    background-color: #4B0082; 
}
