h1 {
    color: darkblue;
    font-size: 50px;
    text-align:center;
}

p {
    background-color: greenyellow;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}


button {
    background-color: white;
    color:aqua;
}
